<div class="text-center">

  <a href="https://www.accel-tech.net">
    <img src="../assets/img/main.png" alt=""  height="100px" width="150px">
  </a>
  <h5 style="font-style: italic; color: #f5f5f5;">Here are some links to help you navigate quickly:</h5>

</div>
<div class="container">
    <div class="row justify-content-center product-grid-style">

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="../assets/img/ecm.png" alt="...">

                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>
      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="../assets/img/nextcloud.png" alt="...">
                <div class="product-cart">
                    <a href="https://nextcloud-server-nexcloud-test-todvn.apps.origins.heritage.africa"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="../assets/img/origins.png" alt="...">
                <div class="product-cart">
                    <a href="https://origins.heritage.africa"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="../assets/img/elk.png" alt="...">
                <div class="product-cart">
                    <a href="https://elk.heritage.africa"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="../assets/img/cmdbuild.png" alt="...">
                <div class="product-cart">
                    <a href="http://alfresco.heritage.africa:8080/cmdbuild"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>


    </div>
</div>



<div class="fixed-bottom">
  <div class="text-center">
    <p style="color: #f5f5f5;">Copyright © 2025 ACCEL TECH</p>
  </div>
</div>

