<div class="container">
    <div class="row justify-content-center product-grid-style">

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>

        </div>
      </div>
      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>

      <div class="col-11 col-sm-6 col-lg-4 col-xl-3">
        <div class="product-details">
            <div class="product-img">

                <img src="https://www.bootdey.com/image/480x480/FF7F50/000000" alt="...">
                <div class="product-cart">
                    <a href="https://ecm.apps.origins.heritage.africa/share"><i class="fa-solid fa fa-eye"></i></a>
                </div>
            </div>
            <div class="product-info">
                <a href="#!">Nikon Camera</a>
                <p class="price text-center m-0">
                    <span class="red line-through me-2">$399</span>
                    <span>$199</span>
                </p>
            </div>
        </div>
      </div>
    </div>
</div>
